@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


* {
    margin: 0;
    padding: 0;
}


/* Common Style */
body {
    background: rgb(247, 245, 245);
}


.display-flex {
    display: flex;
}


.flex-column {
    flex-direction: column;
}


.dark-1 {
    color: #111111;
}


.dark-2 {
    color: #252432;
}


.dark-3 {
    color: rgba(0, 0, 0, 0.5);
}


.dark-4 {
    color: #8987A1;
}


.orange {
    color: #E95A08;
}

/* header style */
header {
    max-width: 1140px;
    margin: 0 auto;
}


/* navbar style */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}


.faugi {
    width: 100%;
}


.item {
    margin-left: 48px;
    list-style: none;
}


.nav-link {
    text-decoration: none;
}


.home {
    font-weight: 700;
}


.cart {
    color: #000000;
}


/* banner style */
.banner {
    margin-top: 120px;
    justify-content: space-between;
    align-items: end;
}


.flex-item {
    flex: 1;
}

.banner-content {
    margin-top: 150px;
}


.banner-title {
    font-size: 4rem;
    font-weight: 700;
}


.banner-description {
    font-size: 1.375rem;
    margin-top: 13px;
}


.banner-image>img {
    width: 100%;
    display: block;
}

/* main section start */
main {
    max-width: 1140px;
    margin: 0 auto;
}


/* our plants style */
.our-plants {
    margin-top: 120px;
}


.our-plants-title {
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
}


.our-plants-description {
    max-width: 888px;
    margin: 0 auto;
    font-size: 1.375rem;
    text-align: center;
    margin-top: 16px;
}


.plants-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 50px;
}


.plants-card>img {
    width: 100%;
}


.plants-name {
    font-size: 1.375rem;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}


.plants-price {
    font-size: 1.375rem;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}


.plants-card-btn {
    font-weight: 600;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
}


/* plants lover section style */
.plants-lover {
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 210px;
}


.plants-store-container {
    position: relative;
}


.plants-store {
    width: 100%;
}


.trusted-badge {
    width: 50%;
    position: absolute;
    right: -18%;
    top: -19%;
    background: none;
}


.content-title {
    font-size: 3.125rem;
    font-weight: 700;
}


.content-description {
    font-size: 1.375rem;
    margin-left: 30px;
}


.description-list {
    margin-top: 20px;
}


/* Latest Deal Section */
.latest-deal {
    margin-top: 130px;
}


.latest-deal-title {
    font-size: 3.125rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}


.latest-deal-description {
    max-width: 888px;
    margin: 0 auto;
    font-size: 1.375rem;
    text-align: center;
}


.card-layout-container {
    height: 420px;
    gap: 28px;
    margin-top: 120px;
}


.child-container {
    gap: 25px;
    flex: 1;
}


.bloom-plant {
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(70%);
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    flex: 1;
}


.bloom-plant-offer,
.ana-plant-offer {
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
}


.bloom-shop-link,
.ana-shop-link {
    font-weight: 600;
    color: #FFFFFF;
}


.ana-plant {
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(70%);
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    flex: 1;
}


.zambo-plant {
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(70%);
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    flex: 2;
}


.zambo-plant-offer {
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFFFFF;
}


.zambo-shop-link {
    font-size: 1.75rem;
    font-weight: 600;
    color: #FFFFFF;
}



/* Media Query For Mobile devices */
/* common */
@media screen and (max-width:768px) {

    .hidden {
        display: none;
    }

    /* navbar query */
    .navbar {
        margin: 30px 15px 0 15px;
    }

    .logo {
        width: 20%
    }

    /* banner query */
    .banner {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .banner-content {
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .banner-description {
        font-size: 0.875rem;
    }

    /* our plants section */
    .our-plants {
        margin: 65px 15px 0px 15px;
    }

    .our-plants-title {
        font-size: 1.5rem;
    }

    .our-plants-description {
        max-width: 336px;
        font-size: 0.875rem;
    }

    .plants-name {
        font-size: 1rem;
    }

    .plants-price {
        font-size: 1rem;
        margin-top: 10px;
    }

    .plants-card-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 28px;
        margin-top: 28px;
    }

    /* Plants Lover Section */
    .plants-lover {
        flex-direction: column;
        margin-top: 42px;
        margin-left: 15px;
        margin-right: 15px;
        gap: 18px;
    }

    .plants-store-container {
        width: 100%;
    }

    .content-title {
        font-size: 1.5rem;
    }

    .description-list {
        font-size: 0.875rem;
        margin-top: 16px;
    }


    /* Latest Deal Section */
    .latest-deal-title {
        font-size: 1.5rem;
        margin-top: 140px;
    }

    .latest-deal-description {
        max-width: 336px;
        font-size: 0.875rem;
    }

    .card-layout-container {
        flex-direction: column;
        height: 581px;
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .child-container {
        flex: 2;
    }

    .ana-plant{
        border-radius: 0;
    }

    .zambo-plant {
        flex: 1;
    }

    .zambo-plant-offer{
        font-size: 1.25rem;
    }

    .zambo-shop-link{
        font-size: 1rem;
    }
}