@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


* {
    margin: 0;
    padding: 0;
}


/* Common Style */
body {
    background: ;
}


.display-flex {
    display: flex;
}


.dark-1 {
    color: #111111;
}


.dark-2 {
    color: #252432;
}


.dark-3 {
    color: rgba(0, 0, 0, 0.5);
}


.dark-4 {
    color: #8987A1;
}


.orangr {
    color: #E95A08;
}

/* header style */
header {
    max-width: 1140px;
    margin: 0 auto;
}


/* navbar style */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}


.faugi {
    width: 100%;
}

.nav-list-items {}


.item {
    margin-left: 48px;
    list-style: none;
}


.nav-link {
    text-decoration: none;
}


.home {
    font-weight: 700;
}


.cart {
    color: #000000;
}

/* Media Query For Mobile devices */
/* common */
@media screen and (max-width:768px) {
    /* navbar query */
    .hidden {
        visibility: hidden;
    }


    .navbar{
        margin-top: 15px;
    }
}